{% extends 'base.html.twig' %}

{% block title %} Accueil {% endblock %}
{% block body %} <h2>Page d'accueil</h2> {% endblock %}

{% block bidule %}

<p>Je suis sur la page d'accueil - Je suis  Bidule</p>
{% endblock %}
 